.hbutton {
  font-size: 20px;
}

#main {
  position: relative;
  font-size: 20px;
}

#vis {
  //position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  //height: 600;
  width: 800;
}

#tooltip {
  z-index: 1;
}

#header {
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  width: 810px;
  height: 30px;
  background: #fc0;
}

.subwindow {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 2;
  width: 800px;
  background: #f1f1f1;
  border-style: solid;
  border-width: 5px;
  border-color: #f1f1f1;
  font-size: 20px;
}

#parcol {
  width: 400px;
  font-size: 20px;
}

#regcol {
  width: 400px;
  font-size: 20px;
}

#yearcol {
  width: 0px;
}

.xbutton {
  float:right;
}

.seltree {
  background: #ffffff;
  height: 400px;
  overflow: auto;
font-size: 20px;
}

.no_checkbox>i.jstree-checkbox
{
    display:none
}

#radMap {
  margin-left: 50
}

#radChart {
  margin-left: 50
}

#radAbout {
  margin-left: 50
}

.title {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size:20px;
  color:#274b6d;fill:#274b6d;
}