.bigselect{
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.hbutton {
  font-size: 16px;
border-radius: 10px;
border-width: 3px;
border-color: #f1f1f1;
font-family: Arial, sans-serif;
background: #e1e1e1;
border-style: outset;
}

#main {
  position: relative;
  font-size: 20px;
}

#vis {
  //position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  //height: 600;
  width: 800;
}

#tooltip {
  z-index: 1;
}

#header {
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  width: 799px;
  height: 30px;
  background: #935A9E;
  border-radius: 5px 5px 0 0;
  vertical-align: middle;
  color: #ffffff;
padding: 3px;
padding-left: 10px;
font-family: Arial, sans-serif;
}

#closeblock{
  position:inherit;
  top:2px;
  right:0px;
  font-size: 12px;
}
#closebutton{
  border-radius: 8px;
}

.subwindow {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 2;
  width: 800px;
  background: #e1e1e1;
  border-style: solid;
  padding: 5px;
  border-width: 0px 1px 1px 1px;
  border-color: #a1a1a1;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

#parcol {
  width: 400px;
  //font-size: 20px;
}

#regcol {
  width: 400px;
  //font-size: 20px;
}

#yearcol {
  width: 0px;
}

.xbutton {
  float:right;
}

.seltree {
  background: #ffffff;
  height: 750px;
  overflow: auto;
font-size: 20px;
}

.no_checkbox>i.jstree-checkbox
{
    display:none
}

#radMap {
  margin-left: 50
}

#radChart {
  margin-left: 50
}

#radAbout {
  margin-left: 50
}

.title {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size:20px;
  color:#274b6d;fill:#274b6d;
}